@media (max-width:1000px){
    #right-nav{
        display: flex;
        display: none;
        background-color: #221c74;
        flex-direction: column;
        position:absolute;
        left: 0;
        top: 0;
        width: 50%;
        
    }

    #t-d{
        align-self: flex-start;
        display: inline-block;
    }
    #t-d:hover , #t-d > span{
        background-color: black;
    }
    #t-d:hover > span{
        background-color: white;
    }
   
    #t-d:hover ~ #right-nav{
        display: flex;
        background-color: #221c74;
        flex-direction: column;
        position:absolute;
        left: 0;
        top: 0;
        width: 20%;
        color: white;
    }
    #checkbox{
        display: inline;
    }
    #checkbox:checked ~  #right-nav{
        display: flex;
        background-color: #221c74;
        flex-direction: column;
        position:absolute;
        left: 0;
        top: 0;
        width: 20%;
    }
    #main-pic-para{
        display: none;
    }
    .news-div > p{
        font-size: 17px;
        padding: 2px;
    }
    #footer h3{
        font-size: 10px;
        padding: 0;
    }

}
